.labela{
    width: 15em;
    margin: 1.5em auto 1em auto;
    display: block;
    height: 2em;
    text-align: left;
    }
.unos{
    border-radius: 0.3em;
    padding: 0.2em;
    width: 15em;
    height: 2em;
    display: block;
    margin: 1em auto 1em auto;
}
.tekst{
    border-radius: 0.3em;
    padding: 0.2em;
    margin: 0.5em;
    width: 15em;
    height: 5em;
    display: block;
    margin: 1em auto 1em auto;
}
.button{
    background-color: rgb(51, 9, 86);
    color: rgb(232, 238, 242);
    border-color: rgb(99, 26, 121);
    border-radius: 1em;
    width: 7em;
    height: 2em;
    margin: 1em auto 1em auto;
    display: block;
}
.poruka{
    font-size: 0.7em;
    color: red;
    display: block;
    width: 21em;
    margin: auto;
    text-align: left;
}
.obavijest{
    font-size: 0.7em;
    color: red;
    display: block;
    width: 21em;
    margin: 1em auto 1em auto;
    text-align: left;
}