  .AppQ{
    display: flex;
  }

.UnansweredQuestions {
    text-align: center;
  }
  
  .site-layout-content {
    padding: 24px;
    min-height: 280px;
    flex: 1;
    right: auto;
    max-width: 100%;
  }
  
  #cancel{
    float: right;
  }
  
  .editor {
    flex: 1;
    margin: 1%;
  }
  
  @import '~antd/dist/antd.css';
  
  
  