  .AppQ{
    display: flex;
  }

.UnansweredQuestions {
    text-align: center;
  }
  
  .site-layout-content {
    background: white;
    padding: 24px;
    min-height: 280px;
    flex: 1;
    right: auto;
    max-width: 100%;
  }
  

  #cancel{
    float: right;
}

  .MenuItem{
    font-size: large;
    font-weight: bold;
    padding: 0px;
    color: rgb(236, 212, 212);

    

  }
  
  .editor {
    flex: 1;
    margin: 1%;
  }

  .ant-table thead > tr > th {
    font-weight: bold;
  }
  
  @import '~antd/dist/antd.css';
  
  
  