.UnansweredQuestions {
    text-align: center;
  }
  
  .site-layout-content {
    background: white;
    padding: 24px;
    min-height: 280px;
  }
  
  .MenuItem{
    font-size: large;
    font-weight: bold;
    padding: 0px;
    color: rgb(236, 212, 212);

    
  }
  
  .table{
    background-color: rgb(28, 28, 49);
   
  }

  .ant-table thead > tr > th {
    font-weight: bold;
   
  }
  
  
  